<div class="card">
  <div class="card-header">
    <h3 class="card-title">Ciudad</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i></button>
    </div>
  </div>
  <div class="card-body">

      <button type = 'button' class="btn  btn-outline-primary btn-sm" (click) = "Excel()" ><i class="fas fa-file-csv"></i>Excel</button>
      <a (click) = "modalIns(modalComIns)" class="btn  btn-outline-primary btn-sm" ><i class="fas fa-address-card" ></i>Nuevo</a>


    <div class="loading" *ngIf= "loading" >
      <img src = "../../../assets/Circles-menu-3.gif">
     </div>

 <div>
  <br>
  <div  class="table-responsive"  *ngIf="tblCiudad?.length > 0" class="{{carga}}">
    <table #datatableElement datatable  id="tblProductos" class="table table-hover text-nowrap"[dtOptions]="dtOptions" >
      <thead>
        <tr>
          <th>ID</th>
          <th>País</th>
          <th>Región</th>
          <th>Comuna</th>
          <th>Cód. Ciudad</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let ciudad of tblCiudad">
          <th>{{ciudad.idCiu}}</th>
          <th>{{ciudad.paiDes}}</th>
          <th>{{ciudad.regDes}}</th>
          <th>{{ciudad.comDes}}</th>
          <th>{{ciudad.ciuCod}}</th>
          <th>{{ciudad.ciuDes}}</th>
          <th>
            <a (click) = "modelUp(modalCiuUdp , ciudad)" class="btn btn-warning btn-xs" placeholder="actualizar"><i class="fa fa-edit" aria-hidden="true"></i></a>
            <a (click) = "delComuna(ciudad)" class="btn btn-warning btn-xs" placeholder="eliminar"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
  <!-- /.card-body -->
  <div class="card-footer">
    Marple
  </div>
  <!-- /.card-footer-->
</div>


<ng-template #modalComIns let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Modal ingreso Comuna</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form  [formGroup] = "insCiudad"
         (ngSubmit)  = "action(insCiudad.controls['idPai'].value ,
                               insCiudad.controls['idReg'].value ,
                               insCiudad.controls['idCom'].value ,
                               insCiudad.controls['ciuCod'].value,
                               insCiudad.controls['ciuDes'].value,
                               'ins' )"
                         >
  <div class="modal-body">
      <div class="card-body">
        <div class="form-group">
          <label for="nombre">Pais</label>
          <div class=" input-group-sm" *ngIf="paises.length > 0">
            <select  class="custom-select rounded-0" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" formControlName = 'idPai'>
              <option  *ngFor = "let pais of paises"  value="{{pais.idPai}}">{{pais.paiDes}}</option>
            </select>
          </div>
          <div *ngIf = "insCiudad.controls['idPai'].hasError('required')">
            <span class="text-danger">Campo obligatorio!</span>
          </div>
        </div>

        <div class="form-group">
          <label for="nombre">Región</label>

          <div  *ngIf=" !regiones.length ">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div class=" input-group-sm" *ngIf="regiones.length  > 0 && paises.length > 0">
            <select  class="custom-select rounded-0" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" formControlName = 'idReg'>
              <option  *ngFor = "let region of regiones"  value="{{region.idReg}}">{{region.regDes}}</option>
            </select>
          </div>
          <div *ngIf = "insCiudad.controls['idReg'].hasError('required')">
            <span class="text-danger">Campo obligatorio!</span>
          </div>
        </div>

        <div class="form-group">
          <label for="nombre">Comuna</label>
          <div  *ngIf=" !comunas.length ">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class=" input-group-sm" *ngIf="comunas.length > 0">
            <select  class="custom-select rounded-0" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" formControlName = 'idCom'>
              <option  *ngFor = "let comuna of comunas"  value="{{comuna.idCom}}">{{comuna.comDes}}</option>
            </select>
          </div>
          <div *ngIf = "insCiudad.controls['idCom'].hasError('required')">
            <span class="text-danger">Campo obligatorio!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="regDes">Código</label>
          <div class="input-group input-group-sm">
          <input type="text" class="form-control" id="ciuCod" placeholder="Ingresar descripción..." formControlName = 'ciuCod'  >
        </div>
      </div>
        <div *ngIf = "insCiudad.controls['ciuCod'].hasError('required')">
          <span class="text-danger">Campo obligatorio!</span>
        </div>
        <div *ngIf = "validCod">  <span class="text-danger">Código invalido!</span></div>
        <div class="form-group">
          <label for="regDes">Descripción</label>
          <div class="input-group input-group-sm">
          <input type="text" class="form-control" id="ciuDes" placeholder="Ingresar descripción..." formControlName = 'ciuDes'  >
        </div>
      </div>
        <div *ngIf = "insCiudad.controls['ciuDes'].hasError('required')">
          <span class="text-danger">Campo obligatorio!</span>
        </div>
      <!-- /.card-body -->
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-block"  *ngIf ="insCiudad.valid && validCod == false" [disabled]="val">
      <div *ngIf= "val">
        Guardando..
        <span class="spinner-border spinner-border-sm mr-2"></span>
      </div>
      <div *ngIf= "!val">
        Guardar
      </div>

    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
  </div>
</form>
</ng-template>



<ng-template #modalCiuUdp let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Modal actualizar Ciudad</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form  [formGroup] = "updCiudad"
         (ngSubmit)  = "action(upidPai.value ,
                               upidReg.value ,
                               upidCom.value,
                               upciuCod.value ,
                               updCiudad.controls['upciuDes'].value ,
                                'up' )"
                         >
  <div class="modal-body">
      <div class="card-body">
        <div class="form-group">
          <label for="nombre">Pais</label>
          <div class=" input-group-sm" >
            <input type="text" class="form-control" id="" placeholder="" value="{{ciudad.paiDes}}" disabled>
            <input type="hidden" class="form-control" name = "idPai" id="idPai" placeholder="" value="{{ciudad.idPai}}" disabled  #upidPai>
          </div>
        </div>

        <div class="form-group">
          <label for="nombre">Región</label>
          <div class=" input-group-sm">
            <input type="text" class="form-control" id="" placeholder="" value="{{ciudad.regDes}}" disabled>
            <input type="hidden" class="form-control" name = "idPai" id="idPai" placeholder="" value="{{ciudad.idReg}}" disabled  #upidReg>
          </div>
        </div>

        <div class="form-group">
          <label for="nombre">Comuna</label>
          <div class=" input-group-sm">
            <input type="text" class="form-control" id="" placeholder="" value="{{ciudad.comDes}}" disabled>
            <input type="hidden" class="form-control" name = "idPai" id="idPai" placeholder="" value="{{ciudad.idCom}}" disabled  #upidCom>
          </div>
        </div>

        <div class="form-group">
          <label for="regDes">Código</label>
          <div class="input-group input-group-sm">
          <input type="text" class="form-control" id="ciuCod" placeholder="Ingresar descripción..."  value="{{ciudad.ciuCod}}" disabled  #upciuCod>
        </div>
      </div>
        <div class="form-group">
          <label for="regDes">Descripción</label>
          <div class="input-group input-group-sm">
          <input type="text" class="form-control" id="ciuDes" placeholder="Ingresar descripción..." formControlName = 'upciuDes'  >
        </div>
      </div>
        <div *ngIf = "updCiudad.controls['upciuDes'].hasError('required')">
          <span class="text-danger">Campo obligatorio!</span>
        </div>
      <!-- /.card-body -->
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-block"  *ngIf ="updCiudad.valid" [disabled]="val">
      <div *ngIf= "val">
        Guardando..
        <span class="spinner-border spinner-border-sm mr-2"></span>
      </div>
      <div *ngIf= "!val">
        Guardar
      </div>

    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
  </div>
</form>
</ng-template>

