<div class="card">
  <div class="card-header">
    <h3 class="card-title">Empresa</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i></button>
    </div>
  </div>
  <div class="card-body">

      <button type = 'button' class="btn  btn-outline-primary btn-sm" (click) = "Excel()" ><i class="fas fa-file-csv"></i>Excel</button>



    <div class="loading" *ngIf= "loading" >
      <img src = "../../../assets/Circles-menu-3.gif">
     </div>

 <div>
  <br>
  <div class="table-responsive">
    <div    *ngIf="tblEmpresa?.length > 0" class="{{carga}}">
      <table #datatableElement datatable  id="tblProductos" class="table table-hover text-nowrap"[dtOptions]="dtOptions" >
        <thead>
          <tr>
            <th>ID</th>
            <th>Rut</th>
            <th>Descripción</th>
            <th>Dirección</th>
            <th>Giro</th>
            <th>Fono</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let empresa of tblEmpresa">
            <td> {{empresa.empId}} </td>
            <td> {{empresa.empRut}} </td>
            <td> {{empresa.empDes}} </td>
            <td> {{empresa.empDir}} </td>
            <td> {{empresa.empGiro}} </td>
            <td> {{empresa.empFono}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
  <!-- /.card-body -->
  <div class="card-footer">
    Marple
  </div>
  <!-- /.card-footer-->
</div>



