<div class="card">
  <div class="card-header">
    <h3 class="card-title">Bins-Correlativo</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i></button>
    </div>
  </div>
  <div class="card-body">
     <div class="loading" *ngIf= "loading" >
      <img src = "../../../assets/Circles-menu-3.gif">
     </div>
 <div>
  <br>
  <div class="table-responsive">
    <div    *ngIf="tblBins?.length > 0" class="{{carga}}">
      <table #datatableElement datatable  id="tblProductos" class="table table-hover text-nowrap"[dtOptions]="dtOptions" >
        <thead>
          <tr>
            <th>ID</th>
            <th>Numero</th>
           </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let bins of tblBins">
            <td> {{bins.idColb}} </td>
            <td> {{bins.colbnum}} </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
  <!-- /.card-body -->
  <div class="card-footer">
    Marple
  </div>
  <!-- /.card-footer-->
</div>




