<div class="col-md-8">
  <div class="card card-outline card-primary">
    <div class="card-header">
      <h3 class="card-title">Ingreso de usuario</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <form
  [formGroup] = "insUser"
  (ngSubmit)  = "guardar(insUser.controls['empNombre'].value ,
                         insUser.controls['empApe'].value ,
                         insUser.controls['empFecNac'].value,
                         insUser.controls['rol'].value ,
                         insUser.controls['gerencia'].value,
                         insUser.controls['empName'].value )">
  <div class="modal-body">

      <div class="form-group">
            <label for="empNombre">Nombre</label>
            <div class="input-group input-group-sm">
            <input type="text" class="form-control" id="empNombre" placeholder="Ingresar nombre..." formControlName = 'empNombre'  >
          </div>
        </div>
          <div *ngIf = "insUser.controls['empNombre'].hasError('required')">
            <span class="text-danger">Campo obligatorio!</span>
          </div>

          <div class="form-group">
            <label for="empApe">Apellido</label>
            <div class="input-group input-group-sm">
            <input type="text" class="form-control" id="empApe" placeholder="Ingresar apellido..." formControlName = 'empApe'  >
          </div>
          </div>
          <div *ngIf = "insUser.controls['empApe'].hasError('required')">
            <span class="text-danger">Campo obligatorio!</span>
          </div>
          <div class="form-group">
            <label for="empName">Nombre Usuario</label>
            <div class="input-group input-group-sm">
            <input type="text" class="form-control" id="empName" placeholder="Ingresar nombre..." oninput="this.value = this.value.toUpperCase()" formControlName = 'empName'  >
          </div>
        </div>
        <div *ngIf = "validNombre">  <span class="text-danger">Nombre invalido!</span></div>
        <div *ngIf = "insUser.controls['empName'].hasError('required')">
          <span class="text-danger">Campo obligatorio!</span>
        </div>
          <div class="form-group">
            <label for="nombre">Rol</label>
            <div  *ngIf="!roles.length">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class=" input-group-sm" *ngIf="roles.length > 0">
              <select  class="custom-select rounded-0" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" formControlName = 'rol'>
                <option  value="">Seleccione</option>
                <option  *ngFor = "let rol of roles"  value="{{rol.idRol}}">{{rol.rolDes}}</option>
              </select>
            </div>
            <div *ngIf = "insUser.controls['rol'].hasError('required')">
              <span class="text-danger">Campo obligatorio!</span>
            </div>
          </div>
          <div class="form-group">
            <label for="nombre">Gerencia</label>
            <div  *ngIf="!gerencia.length">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="input-group-sm" *ngIf="gerencia.length > 0">
              <select  class="custom-select rounded-0" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" formControlName = 'gerencia'>
                <option  value="">Seleccione</option>
                <option  *ngFor = "let item of gerencia"   value="{{item.gerId}}">{{item.gerDes}}</option>
              </select>
            </div>
              <div *ngIf = "insUser.controls['gerencia'].hasError('required')">
                <span class="text-danger">Campo obligatorio!</span>
              </div>
          </div>
          <div class="form-group ">
            <label for="nombre">Fecha Nacimiento</label>
          <div class="input-group input-group-sm">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp"  ngbDatepicker #d="ngbDatepicker" formControlName = 'empFecNac'  [minDate]="{year: 1921, month: 1, day: 1}" [startDate]="{year: 1990, month: 1}"  value="fechaS" >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
            </div>
          </div>
        </div>
          <div class="form-group">
            <label for="">Avatar</label>
            <div *ngIf="previsualizador" >
                <img [src] = "previsualizador" class="previsualizar-img">
            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="custom-file">
                <input (change) = "capturarFile($event)" type="file" class="custom-file-input" >
                <label class="custom-file-label"><i class="fas fa-search"></i> Seleccionar archivo</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block"  *ngIf ="insUser.valid && validNombre == false" [disabled]="val">
              <div *ngIf= "val">
                Guardando..
                <span class="spinner-border spinner-border-sm mr-2"></span>
              </div>
              <div *ngIf= "!val">
                Guardar
              </div>

            </button>
            <a href= ""  (click)="volver()">Volver</a>

          </div>
        </div>
      </form>
    </div>
    <!-- /.card-body -->
  </div>

</div>
