<div class="card">
  <div class="card-header">
    <h3 class="card-title">Gerencia</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i></button>
    </div>
  </div>
  <div class="card-body">

      <button type = 'button' class="btn  btn-outline-primary btn-sm" (click) = "Excel()" ngbTooltip="Excel" ><i class="fas fa-file-csv"></i>Excel</button>
      <a (click) = "modalIns(modalGerenciaIns)" class="btn  btn-outline-primary btn-sm" ngbTooltip="Nuevo"><i class="fas fa-address-card" ></i>Nuevo</a>


    <div class="loading" *ngIf= "loading" >
      <img src = "../../../assets/Circles-menu-3.gif">
     </div>

 <div>
  <br>
  <div    *ngIf="tblGerencia?.length > 0" class="{{carga}}">
    <table #datatableElement datatable  id="tblProductos" class="table table-hover text-nowrap"[dtOptions]="dtOptions" >
      <thead>
        <tr>
          <th>ID</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let gerencia of tblGerencia">
          <th>{{gerencia.gerId}}</th>
          <th>{{gerencia.gerDes}}</th>
          <th>
            <a style= "margin : 1px ;" (click) = "modelUp(modalGerenciaUdp , gerencia)" class="btn btn-warning btn-xs" ngbTooltip="Actualizar"><i class="fa fa-edit" aria-hidden="true"></i></a>
            <a style= "margin : 1px ;" (click) = "delGerencia(gerencia)" class="btn btn-warning btn-xs" ngbTooltip="Eliminar"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
  <!-- /.card-body -->
  <div class="card-footer">
    Marple
  </div>
  <!-- /.card-footer-->
</div>
<ng-template #modalGerenciaUdp let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Modal actualiza Rol</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>  <!-- /.card-header -->
  <div class="modal-body">
    <form >
      <div class="card-body">
        <div class="form-group">
          <label for="">Código</label>
          <input type="text" class="form-control" id="" placeholder="" value="{{gerencia.gerId}}"   disabled>
        </div>
        <div class="form-group">
          <label for="">Descripción</label>
          <input type="text" class="form-control" name = "gerDes" id="rolDes" placeholder="" value="{{gerencia.gerDes}}" #upgerDes oninput="this.value = this.value.toUpperCase()">
        </div>
      </div>
      <!-- /.card-body -->
    </form>

    <!-- form start -->

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click) ="action( upgerDes.value , 'up' )" >Guardar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
  </div>
</ng-template>


<ng-template #modalGerenciaIns let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Modal ingreso Gerencia</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form >
      <div class="card-body">
        <div class="form-group">
          <label for="">Descripción</label>
          <input type="text" class="form-control" name = "gerDes" id="gerDes" placeholder="" value="" #insgerDes oninput="this.value = this.value.toUpperCase()">
        </div>
      </div>
      <!-- /.card-body -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click) ="action(insgerDes.value , 'ins' )" >Guardar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
  </div>
</ng-template>
