<div class="card">
    <div class="card-header">
      <h3 class="card-title">Etapas - Maquina</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body">
        <button type = 'button' class="btn  btn-outline-primary btn-sm" ngbTooltip="Excel"><i class="fas fa-file-csv"></i>Excel</button>
        <a (click)= "modalIns(modalInsMaq)" class="btn  btn-outline-primary btn-sm" ngbTooltip="Nuevo"><i class="fas fa-address-card" ></i>Nuevo</a>
        <br>
        <br>
      <div class="loading" *ngIf = 'loading'>
        <img src = "../../../assets/Circles-menu-3.gif">
       </div>

       <div    *ngIf="tblMaquinas?.length > 0" class="{{carga}}">
        <table #datatableElement datatable  id="tblProductos" class="table table-hover text-nowrap"[dtOptions]="dtOptions" >
          <thead>
            <tr>
              <th>ID</th>
              <th>Etapa</th>
              <th>Código</th>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let maquina of tblMaquinas">
              <th>{{maquina.idMaq}}</th>
              <th>{{maquina.etaDes}}</th>
              <th>{{maquina.maqCod}}</th>
              <th>{{maquina.maqDes}}</th>
              <th>
                <a style= "margin : 1px ;" (click) = "modelUp(modalMaqUdp , maquina)" class="btn btn-warning btn-xs" ngbTooltip="Actualizar"><i class="fa fa-edit" aria-hidden="true"></i></a>
                <a style= "margin : 1px ;" (click) = "delEtapas(maquina)" class="btn btn-warning btn-xs" ngbTooltip="Eliminar"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
   <div>
    <br>
    </div>
  </div>
    <!-- /.card-body -->
    <div class="card-footer">
      Marple
    </div>
    <!-- /.card-footer-->
  </div>
  <ng-template #modalMaqUdp let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Modal Actualizar Maquinas</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>  <!-- /.card-header -->
    <form >

    <div class="modal-body">
        <div class="card-body">
          <div class="form-group">
            <label for="">Código Etapa</label>
            <input type="text" class="form-control" id="" placeholder="" value="{{maquina.getIdEta()}}"   disabled>
          </div>
          <div class="form-group">
            <label for="">Descripción Etapa</label>
            <input type="text" class="form-control" name = "etaDes" id="etaDes" placeholder="" value="{{maquina.etaDes}}"  disabled >
          </div>
          <div class="form-group">
            <label for="">Código</label>
            <input type="text" class="form-control" name = "maqCod" id="maqCod" value="{{maquina.maqCod}}" placeholder=""   #maqCod oninput="this.value = this.value.toUpperCase()">
          </div>
          <div class="form-group">
            <label for="">Descripción Maquina</label>
            <input type="text" class="form-control" name = "maqDes" id="maqDes" value="{{maquina.maqDes}}" placeholder=""  #maqDes oninput="this.value = this.value.toUpperCase()">
          </div>

        </div>
        <!-- /.card-body -->
      <!-- form start -->
    </div>
    <div class="modal-footer">
      <div *ngIf="maqDes.value && maqCod.value">
      <button type="button" class="btn btn-primary" (click) ="actionMaq(maquina.idEta , maquina.idMaq , maqDes.value ,  'up' , maqCod.value , '' )" [disabled]="loading">Guardar</button>
      </div>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
    </div>
  </form>
  </ng-template>


  <ng-template #modalInsMaq let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Modal Ingreso Maquina</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>  <!-- /.card-header -->
    <form >

    <div class="modal-body">
        <div class="card-body">
          <div class="form-group">
            <label>Etapa</label>
            <select  class="custom-select rounded-0" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" #idEta>
              <option  value="">Seleccione</option>
              <option  *ngFor = "let etapa of etapas"  value="{{etapa.idEta}}">{{etapa.etaDes}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Código</label>
            <input type="text" class="form-control" name = "maqCod" id="maqCod" value="" placeholder="" value=""  #maqCod oninput="this.value = this.value.toUpperCase()">
          </div>
          <div class="form-group">
            <label for="">Descripción Maquina</label>
            <input type="text" class="form-control" name = "maqDes" id="maqDes" placeholder="" value=""  #maqDes oninput="this.value = this.value.toUpperCase()">
          </div>

        </div>
        <!-- /.card-body -->
      <!-- form start -->
    </div>
    <div class="modal-footer">
      <div *ngIf="maqDes.value && idEta.value && maqCod.value">
      <button type="button" class="btn btn-primary" (click) ="actionMaq(idEta.value, 0 , maqDes.value , 'ins' , maqCod.value , '')" [disabled]="loading">Guardar</button>
    </div>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
    </div>
  </form>
  </ng-template>

