<div class="card">
    <div class="card-header">
      <h3 class="card-title">Productos</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
      </div>
    
    </div>
    <div class="card-body">              
        <h3 class="card-title">Filtros</h3>
        <form 
        [formGroup] = "filtroPrd">
        <table class="table table-bordered">          
          <tbody>
            <tr>
              <td>Cód Producto</td>
              <td><input type="text"   [(ngModel)]="model"
                [ngbTypeahead]="search"
                (focus)="focus$.next($any($event).target.value)"
                (click)="click$.next($any($event).target.value)"
                #instance="ngbTypeahead"  value="" class="form-control" placeholder="Ingrese código de producto"  formControlName ='prdDes' /> </td>
              <td>Fecha de Creación</td>              
              <td>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp"  ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                  </div>
                </div>
              </td>        
            
            </tr>      
           
          </tbody>
        </table>
        <button type = 'button' class="btn  btn-outline-primary btn-sm" (click)= "buscar(filtroPrd.controls['prdDes'].value , filtroPrd.controls['created_at'].value)"><i class="fas fa-search"></i>Buscar</button>
        <button type = 'button' class="btn  btn-outline-primary btn-sm" (click)= "refrescar()"><i class="fas fa-sync-alt"></i>Refrescar</button>
        <button type = 'button' class="btn  btn-outline-primary btn-sm" (click)= "Excel()"><i class="fas fa-file-csv"></i>Excel</button>
      </form>

      <div class="loading" *ngIf= "loading" >
        <img src = "../../../assets/Circles-menu-3.gif">  
       </div> 

   <div>
    <br>
      <div  *ngIf="tblProductos?.length > 0" class="{{carga}}">
        <table #datatableElement datatable  id="tblProductos" class="table table-hover text-nowrap"[dtOptions]="dtOptions" >
          <thead>
            <tr>
              <th>ID</th>
              <th>Descripción</th>
              <th>Acciones</th>         
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let productos of tblProductos">
              <th>{{productos.idPrd}}</th>
              <th>{{productos.prdDes}}</th>
              <th><a  class="btn btn-warning btn-xs" placeholder="actualizar"(click) = "actualizar(modal , productos)"><i class="fa fa-edit" aria-hidden="true"></i></a></th>       
            </tr>
          </tbody>          
        </table>
      </div>      
    </div>
  </div>
    <!-- /.card-body -->
    <div class="card-footer">
      Marple
    </div>
    <!-- /.card-footer-->
  </div>

  <ng-template #modal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Modal Actualizar Producto</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     
      <!-- /.card-header -->
      <!-- form start -->
      <form >
        <div class="card-body">
          <div class="form-group">
            <label for="">Código</label>
            <input type="text" class="form-control" id="" placeholder="" value="{{producto.idPrd}}"   disabled>
          </div> 
          <div class="form-group">
            <label for="">Descripción</label>
            <input type="text" class="form-control" name = "prdDesx" id="prdDesx" placeholder="" value="{{producto.prdDes}}" #prdDesx >
          </div>    
        </div>
        <!-- /.card-body -->
      </form>    
    </div>
    <div class="modal-footer">
      <button type="button" (click)="actualizarPrd(prdDesx.value)"  class="btn btn-primary" *ngIf="validaup">Guardar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
    </div>  
  </ng-template>
