<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card card0 border-0">
      <div class="row d-flex">
        <div class="col-md-12">
          <app-alerts></app-alerts>
        </div>
          <div class="col-lg-6">
              <div class="card1 pb-5">
                  <div class="row"> <img src="../../assets/pixlr-bg-result.png" class="logo"> </div>
                  <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
              </div>
          </div>

          <div class="col-lg-6">

              <div class="card2 card border-0 px-4 py-5">
                  <div class="row mb-4 px-3">
                      <h6 class="mb-0 mr-4 mt-2">Cambio de Password Usuarios <strong>Marple ERP</strong></h6>

                  </div>
                  <div class="row px-3 mb-4">
                      <div class="line"></div> <small class="or text-center">O</small>
                      <div class="line"></div>
                  </div>
                  <p>Hola {{usuario}} !!</p>
                  <form
                  [formGroup] = "changePassword"
                  (ngSubmit)  = "guardar(changePassword.controls['password1'].value )">
                    <div class="input-group mb-3">
                      <input type="password" class="form-control" id="password1" placeholder="Ingresar password.." formControlName = 'password1'  #password>

                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span (click)="password.type=password.type=='password'?'text':'password'"
                      class="fa fa-fw field-icon toggle-password"
                          [ngClass]="(password.type=='password')?' fa-eye':' fa-eye-slash'"></span>
                        </div>
                      </div>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                        </div>
                      </div>

                    </div>
                      <div *ngIf = "changePassword.controls['password1'].hasError('required')">
                       <span class="text-danger">Campo obligatorio!</span>
                    </div>
                    <div *ngIf = "changePassword.controls['password1'].hasError('invalidNombre')">Nombre invalido</div>

                    <div class="input-group mb-3">
                      <input type="password" class="form-control" placeholder="Password" id="password2" formControlName ='password2' #passwordx>

                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span (click)="passwordx.type=passwordx.type=='password'?'text':'password'"
                      class="fa fa-fw field-icon toggle-password"
                          [ngClass]="(passwordx.type=='password')?' fa-eye':' fa-eye-slash'"></span>
                        </div>
                      </div>


                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                        </div>
                      </div>
                    </div>
                    <div *ngIf = "changePassword.controls['password2'].hasError('required')">
                      <span class="text-danger">Campo obligatorio!</span>
                  </div>

                  <span *ngIf= "valida"> Las password deben ser iguales</span>
                    <div class="row">
                      <!-- /.col -->
                      <div class="col-9">
                        <button type="submit" class="btn btn-primary btn-block"  *ngIf ="changePassword.valid && !valida"   [disabled]="val">
                          <div *ngIf= "val">
                            Cambiando..
                            <span class="spinner-border spinner-border-sm mr-2"></span>
                          </div>
                          <div *ngIf= "!val">
                            Cambiar
                          </div>

                        </button>
                      </div>
                      <!-- /.col -->
                    </div>
                  </form>

                  <p class="mt-3 mb-1">
                    <a href="home">Login</a>
                  </p>


              </div>
          </div>
      </div>

      <div class="bg-red py-4">
          <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">AgileTiCL &copy; 2021. Todos los derecho reservados.</small>
          </div>

      </div>
  </div>
</div>
