.nav-sidebar .nav-treeview {
  display: block !important;
  list-style: none;
  padding: 0;
}

.nav-link >i{
  font-size: 15px !important;
}

.nav-sidebar .nav-item > .nav-link {
  position: relative;
  font-size: 12px !important;
}
