<nav class="mt-2" style="min-height: 700px !important;">      
    <ul   class="nav nav-pills nav-sidebar flex-column nav-child-indent">
        <div class="mx-auto" *ngIf="!modulos.length" >
            <div class="spinner-border spinner-border-sm" role="status">
              <span class=" sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>       
        <div *ngFor="let item of modulos">     
               <app-menu-lateral-module [module]="item"></app-menu-lateral-module>           
        </div>
    </ul>
</nav>