<nav class="mt-2">
  <ul   class="nav nav-pills nav-sidebar flex-column">

    <li   class="nav-item has-treeview">
    <a  class="nav-link"  (click)="isMenuCollapsed = !isMenuCollapsed">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>
        Seguridad
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="nav nav-treeview" >
        <li  class="nav-item">
          <a  (click) = "elinks('users')" class="nav-link" >
            <i class="far fa-circle nav-icon"></i>
            <p>Usuario</p>
          </a>
        </li>
        <li class="nav-item">
          <a  (click) = "elinks('roles')" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Roles</p>
          </a>
        </li>
        <li class="nav-item">
          <a  (click) = "elinks('etapas')" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Etapas</p>
          </a>
        </li>

      </ul>
    </div>
  </li>

  <li   class="nav-item has-treeview">
    <a  class="nav-link"  (click)="isMenuCollapsed2 = !isMenuCollapsed2">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>
        Parámetros
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>

    <div [ngbCollapse]="isMenuCollapsed2" class="collapse navbar-collapse">
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a  (click) = "elinks('almacen')" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Almacen</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Centro</p>
          </a>
        </li>
        <li class="nav-item">
          <a  (click) = "elinks('pallet')" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Pallet</p>
          </a>
        </li>
        <li class="nav-item">
          <a  (click) = "elinks('bultos')"  class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Bultos</p>
          </a>
        </li>
        <li class="nav-item">
          <a (click) = "elinks('productos')" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Productos</p>
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>







  <!-- Step 2: Add the ngbCollapse directive to the element below. -->


</nav>
