/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';
@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css';
@import '~admin-lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css';
@import '../node_modules/datatables.net-dt/css/jquery.dataTables.min.css';

.card{
    border:none !important;
  }
  
  .card-header{
    color: #fff !important;
    background-color: #151e3f !important;
  }

  .btn-outline-primary {
    color: #151e3f !important;
    border-color: #151e3f  !important;
  }

  .btn-outline-primary:hover {
    color: #fff !important;
    background-color: #151e3f !important;
    border-color: #151e3f !important;
  }

  .btn-primary:hover {
    color: #fff  !important;
    background-color: #151e3f  !important;
    border-color: #151e3f !important;
    opacity: .9;
  }

  .btn-primary {
    color: #fff  !important;
    background-color: #151e3f  !important;
    border-color: #151e3f !important;
  }

  .nav-sidebar .nav-treeview {
    display: block !important;
    list-style: none;
    padding: 0;
  }
  
  .nav-link >i{
    font-size: 13px !important;
  }
  
  .nav-link >p{
    font-size: 13px !important;
    padding: 0px 0px 0px 2px;
    
  }
  
  .nav-sidebar .nav-item > .nav-link {
    position: relative;
    font-size: 12px !important;   
  }
  
 .nav-link:hover{
    color: black !important;
  }
  .nav-link >i:hover {
    color: black !important;
   
  }
  .nav-link >p:hover {
    color: black !important;
   
  }

  .sidebar {
    scrollbar-color: #a9a9a9 transparent;
    height: 500px !important;   
  }
  .btn-tool{
    color: #fff !important;
  }

  
  